<h1>User#account_activation</h1>

<p>
  hi! <%= @user.name%>,
  <p>
    welcome you
  </p>
</p>


<%= link_to 'gogogo',edit_account_activation_url( @user.activation_token,
                                                  email: @user.email)%>
